.loadingScreen{
    position: fixed;
    display: flex;
    top:0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 100000;
}

.firstbox{
    height: 250px;
    width: 250px;
    background-image: url(../images/outer.png);
    background-size: contain;
    position: absolute;
    display: grid;
    animation: expand 1.5s ease-out;
  }
  .secondbox{
    height: 250px;
    width: 250px;
    background-image: url(../images/triangles.png);
    background-size: contain;
    position: absolute;
    animation: innerExpand 1.5s;
  }
  .thirdbox{
    height: 250px;
    width: 250px;
    background-image: url(../images/character.png);
    background-size: contain;
    position: absolute;
    animation: fade 1.5s ease-in;
  }
  
  @keyframes expand {
    0%{
      transform: scale(0,0);
    }
    20%{
      transform: scale(1,1);
    }
  }
  
  @keyframes innerExpand {
    0%{
      transform: scale(0,0);
    }
    20%{
      transform: scale(0,0);
    }
    40%{
      transform: scale(100%,100%);
    }
  }
  
  @keyframes fade{
    0%{
      opacity: 0;
    }
    64%{
      opacity: 0;
    }
    100%{
      opacity: 100%;
    }
  }

  .loadingScreen2{
    position: fixed;
    display: flex;
    top:0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 100000;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}